.video-item {
  cursor: pointer;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
}
.video-item:hover {
  border-color: #434857;
}
.unplayed-marker {
  background-color: #cc7b18;
}
.unplayed-marker:hover {
  background-color: #FFAE4B;
}
