.video-item {
  cursor: pointer;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
}
.video-item:hover {
  border-color: #434857;
}
.unplayed-marker {
  background-color: #cc7b18;
}
.unplayed-marker:hover {
  background-color: #FFAE4B;
}
.badge.badge-unwatched {
  background-color: #FFAE4B;
}
::-webkit-scrollbar {
  width: 6px;
  border: 0;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(248, 248, 248, 0.5);
  border: 0;
  border-radius: 3px;
}
